Repository BenjaminLesne/templates: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, pnpx prettier --write

switched js files to ts
  assets/app.ts
  assets/bootstrap.ts
  assets/controllers/hello_controller.ts
  composer.json
  composer.lock
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: eslint, pnpx prettier --write

config to build images
  webpack.config.js
Due: none

added php cs fixer
  .gitignore
  .lintstagedrc
  .php-cs-fixer.dist.php
  composer.json
  composer.lock
  symfony.lock
Due: pnpx prettier --write

init
  .env.example
  .eslintrc.cjs
  .gitignore
  .vscode/extensions.json
  README.md
  drizzle.config.ts
  next.config.mjs
  package.json
  pnpm-lock.yaml
  postcss.config.cjs
  prettier.config.mjs
  public/favicon.ico
  src/env.mjs
  src/pages/_app.tsx
  src/pages/api/trpc/[trpc].ts
  src/pages/index.tsx
  src/server/api/root.ts
  src/server/api/routers/example.ts
  src/server/api/trpc.ts
  src/server/db/index.ts
  src/server/db/schema.ts
  src/styles/globals.css
  src/utils/api.ts
  tailwind.config.ts
  tsconfig.json
Due: eslint, pnpx prettier --write

added ts-reset
  package.json
  pnpm-lock.yaml
Due: pnpx prettier --write

Path conditions:
  eslint: any of: *.{ts,tsx}
  pnpx prettier --write: (any of: *.{ts,tsx}) or (any of: *.{md,html,css,json})
